body{
background-color:#FAF9F6;
font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.title{
text-align:center;




}

h3 {
    text-align: center;
}

.box{
    margin-left:20px;
    line-height: 200%;

}

a {
    text-decoration: none;
    color:#541713;
    float:;
}

a:hover {
    background-color:#541713;
    color:#FAF9F6;
    text-align:center;

}

img {
border-radius: 4px;
height:auto;
width: 100px;

}

.img-with-text {
    text-align: justify;
    width: [width of img];
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

.wip {

    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #ffea04;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  
}